
<h2>Manage All Tasks</h2>
<p class="float-right">
	<span class="bg-warning p-2">{{ total }} Tasks</span>
	<a href="/add" class="btn btn-primary">Add a task</a>
</p>
<div class="clearfix"></div>

<div class="card card-body">
	<h2>
		{{ this.title }}
		<hr>
		
	</h2>
</div>